<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect HTTP to HTTPS -->
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="Nodejs">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:0}" />
                    <serverVariables>
                        <!-- Allow Authorization Header to be passed -->
                        <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
                <rule name="CORSHeaderPassThrough">
                    <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
                    <conditions>
                        <add input="{HTTP_ORIGIN}" pattern="https://eternalwarriors.io" />
                    </conditions>
                    <action type="Rewrite" value="https://eternalwarriors.io" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
